/* Custom cho landing page */

/* Google Fonts */
.poiret-one {
    font-family: 'Poiret One', cursive;
}
.sriracha {
    font-family: 'Sriracha', cursive;
}
.farsan {
    font-family: 'Farsan', cursive;
}
.irim {
    font-family: 'Itim', cursive;
}
.open-sans {
    font-family: 'Open Sans', sans-serif;
}

/* Color pallete: Visually Columbia */
.vc-text-color-1 {
    color: #FFF568; /* vàng  */
}
.vc-text-color-2 {
    color: #0C98CF; /* xanh đậm */
}
.vc-text-color-3 {
    color: #0AA0D9; /* xanh nhạt */
}
.vc-text-color-4 {
    color: #6C6E70; /* xám */
}
.vc-text-color-5 {
    color: #2D3033; /* ngả đen */
}

/* Jumbotron */
.jumbotron-preference-1 {
    color: white;
    background: #6C6E70;
}

/* Form nhập */
.cf:before,
.cf:after {
    content:"";
    display:table;
    clear:both;
}
.searchform {
    background:#f4f4f4;
    background:rgba(244,244,244,.79);
    border: 1px solid #d3d3d3;
    width: auto;
    box-shadow:0 4px 9px rgba(0,0,0,.37);
    -moz-box-shadow:0 4px 9px rgba(0,0,0,.37);
    -webkit-box-shadow:0 4px 9px rgba(0,0,0,.37);
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}
.searchform input {
    background:#fefefe;
    border: none;
    font:9px/9px;
    margin-right: 5px;
    padding: 10px;
    width: 216px;
    box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,.4) inset, 1px 1px 1px rgba(255,255,255,.75);
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px
}
.searchform input:focus {
    outline: none;
    box-shadow:0 0 4px #0AA0D9 inset;
    -moz-box-shadow:0 0 4px #0AA0D9 inset;
    -webkit-box-shadow:0 0 4px #0AA0D9 inset;
}
.searchform input::-webkit-input-placeholder {
    font-style: italic;
    line-height: 15px
}
 
.searchform input:-moz-placeholder {
    font-style: italic;
    line-height: 15px
}
.searchform button {
    background: rgb(52,173,236);
    background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
    background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
    color: #fff;
    cursor: pointer;
    padding: 10px;
    width:106px;
    box-shadow: 0 0 2px #2692dd inset;
    -moz-box-shadow: 0 0 2px #2692dd inset;
    -webkit-box-shadow: 0 0 2px #2692dd inset;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
}
.searchform button:hover {
    opacity:.9;
    color: #020202;
}

/* Color Mix (Background + Text) */
.color-mix-1 {
    background: #2D3033;
    color: #fff;
}
.color-mix-2 {
    background: #0C98CF;
    color: #fff;
}